.myimg {
  max-width: 250px;
  object-fit: cover;
}

.form-group {
  margin: 1em 0;
}

.word-break {
  word-break: break-all;
}

@media screen and (max-width: 640px) {
  .pagination .page-link {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
}
  .editpage {
    font-size: 28px;
  }
  .nav {
    width: 400px;
    display:flex;
    box-sizing :border-box;
  }
}